body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #f2f2f2;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

#resultContainer {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 5px 0;
}

/* Added colors */

button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
}

input[type="file"]:focus {
  outline: none;
  border-color: #4caf50;
}